# MongoDB Atlas Connection
MONGODB_URL=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/<dbname>?retryWrites=true&w=majority
MONGO_DB_NAME=sigma_db

# JWT Authentication
JWT_SECRET_KEY=secret_key
ACCESS_TOKEN_EXPIRE_MINUTES=30
ALGORITHM=HS256
REFRESH_SECRET_KEY=refresh_secret_key
REFRESH_TOKEN_EXPIRE_MINUTES=40
